
@model WebAPI.Filters.BasicAuthenticationIdentity
@{
    Layout = "~/Views/Shared/_UserAccount_Layout.cshtml";
}
@section css{
<link href="~/Content/Account/scss/login.min.css" rel="stylesheet" />
}

@section scripts{
    <script>
    var returnUrl = "@ViewBag.ReturnUrl";
        var host = "@Request.Url.Host";
        var applicationPath = "@HttpContext.Current.Request.ApplicationPath";
    </script>
    <script src="~/Scripts/build/login.js"></script>
}
<div class="h-100 login-background bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="h5 modal-title text-center">
                            <h4 class="mt-2">
                                <div>Login</div>
                            </h4>
                        </div>
                        <form class="">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="userName" id="UserName" data-bind="value: userName" placeholder="UserName" type="text" class="form-control"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="password" id="Password" data-bind="value: password" placeholder="Password" type="password" class="form-control"></div>
                                </div>
                            </div>
                            <!--<div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>-->
                        </form>
                        <div class="divider"></div>
                        <h6 class="mb-0">No account? @Html.ActionLink("Sign up now", "Register", "Account", new { @class = "text-primary" })</h6>
                        <div class="form-group text-danger">
                            <span id="lblErrorMessage" data-bind="text: errorMessage"></span>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <div class="float-left"><a href="javascript:void(0);" class="btn-lg btn btn-link">Recover Password</a></div>
                        <div class="float-right">
                            <button class="btn btn-primary btn-lg" id="btnLogin">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>