@model IEnumerable<MusicStore.BussinessEntity.ProjectEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/build/projectManagement.js"></script>
}
@section css{

}
<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">
            <div class="btn-actions-pane-right">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn" style="color: #fff" data-bind="click: newProject">New</a>
                <!-- Modal Structure -->
                <div id="projectEditor" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div data-bind="template: {name:'projectAddUpdateTemplate', data: addEditProjecttModel}" class="hihi"></div>
                    </div>
                    <div class="modal-footer">
                        <a class="waves-effect waves-light btn-small" data-bind="click: cancelSaveProject">Cancel</a>
                        <a class="waves-effect waves-light btn-small ml-2" data-bind="click: saveProject">Save</a>
                    </div>
                </div>
                @*<div role="group" class="btn-group-sm btn-group">
                        <button class="btn btn-primary">@Html.ActionLink("New", "Create", "Project", new { @Style = "color: #fff; text-decoration: none !important;" })</button>
                    </div>*@
            </div>
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: projects">
                    <tr>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="widget-content-left">
                                            <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading" data-bind="text: Name"></div>
                                        <div class="widget-subheading opacity-7" data-bind="text: Description"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" data-bind="text: StartDate"></td>
                        <td class="text-center" data-bind="text: EndDate"></td>
                        <td class="text-center">
                            <div class="badge badge-pill badge-info">New</div>
                        </td>
                        <td class="text-center">
                            <a class="waves-effect waves-light btn" style="color: #fff" data-bind="click: $root.updatePoject.bind($data, Id)">Detail</a>
                            <a class="waves-effect waves-light btn" style="color: #fff" data-bind="click: $root.updatePoject.bind($data, Id)">Update</a>
                            <a class="waves-effect waves-light btn" style="color: #fff" data-bind="click: $root.updatePoject.bind($data, Id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="projectAddUpdateTemplate">
    <h6>New Project</h6>
    <form class="col s12" id="projectForm">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" data-bind="value: Name" required />
                <label>Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea class="materialize-textarea" data-bind="value: Description"></textarea>
                <label>Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="datepicker" required data-bind="value: StartDate" />
                <label>Start Date</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="datepicker" required data-bind="value: EndDate" />
                <label>End Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select data-bind="options: $root.availableDevelopers, selectedOptions: Leaders, optionsText: 'UserName', optionsValue: 'UserId'" size="5" multiple="true"></select>
                <label>Leaders</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select data-bind="options: $root.availableDevelopers, selectedOptions: Developers, optionsText: 'UserName', optionsValue: 'UserId'" size="5" multiple="true"></select>
                <label>Developer</label>
            </div>
        </div>
    </form>
</script>
