@model IEnumerable<MusicStore.BussinessEntity.ProjectEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/build/projectManagement.js"></script>
}
@section css{
    <link href="~/Content/TaskRequest/scss/main.css" rel="stylesheet" />
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="task-request-management-wrapper">
            <div class="col-md-3 col-xl-3 card left-panel">
                <div class="card-header task-request-details-container">
                    <span class="title"
                          style="flex: 1 1 auto">Projects</span>
                    <button class="waves-effect waves-light btn-small btn-add-task-request blue"
                            style="display: flex"
                            data-bind="click:$root.onAddProject, clickBubble: false">
                        <i class="material-icons">add</i>
                        <span>New Project</span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class=" project-task-panel" data-bind="foreach: projects">
                            <div class="d-flex flex-row align-items-center" height="30px">
                                <a class="btn-toogle-panel collapsed" data-toggle="collapse" data-bind="attr : {href : ProjectButtonHRef}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    <i class="metismenu-state-icon pe-7s-angle-up caret-left"></i>
                                </a>
                                <a class="btn-project-item tree-node-btn" data-bind="attr:{'data-projectid' : Id}">
                                    <i class="metismenu-icon fas fa-calendar-alt"></i>
                                    <span data-bind="text: Name"></span>
                                </a>
                            </div>
                            <div class="collapse" data-bind="attr: {id: ProjectExpandPanelId}">
                                <ul class="vertical-nav-menu project-tree" data-bind="foreach: Tasks">
                                    <li>
                                        <a data-bind="attr:{'data-taskid': Id}" class="btn-task-item tree-node-btn">
                                            <i class="fas fa-check-square"></i>
                                            <span data-bind="text: Name"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xl-9 right-panel main-card card">
                <div data-bind="if: isShowTaskRequest" class="task-request-details-container">
                    <div class="card-header">
                        <span class="title">Task Details</span>
                        <button class="waves-effect waves-light btn-small btn-edit-task-request blue ml-2"
                                data-bind="click:$root.onUpdateTask, clickBubble: false">
                            <i class="material-icons">edit</i>Edit
                        </button>
                        <button class="waves-effect waves-light btn-small btn-delete-task-request red"
                                data-bind="click:$root.onDeleteTask, clickBubble: false">
                            <i class="material-icons">delete</i>Delete
                        </button>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="task-details-panel" data-bind="template: {name:'taskDetailsTemplate', data: currentTask}"></div>
                    </div>
                </div>

                <div id="ProjectPanel" data-bind="visible: isShowProjectDetail" class="task-request-details-container">
                    <div class="card-header">
                        <span class="title">Project Details</span>
                        <button class="waves-effect waves-light btn-small btn-add-task-request blue"
                                style="flex-basis: 120px;"
                                data-bind="click:$root.onAddTask, clickBubble: false">
                            <i class="material-icons">add</i>
                            <span>New Task</span>
                        </button>
                        <button class="waves-effect waves-light btn-small btn-edit-task-request"
                                style="margin-left: 5px"
                                data-bind="click:$root.onUpdateProject, clickBubble: false">
                            <i class="material-icons">edit</i>Update
                        </button>
                        <button class="waves-effect waves-light btn-small btn-delete-task-request red"
                                data-bind=click:$root.onDeleteProject, clickBubble: false">
                            <i class="material-icons">delete</i>Delete
                        </button>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div data-bind="template: {name:'projectDetailsTemplate', data: currentProject}" class="d-flex flex-column flex-auto-fill"></div>
                    </div>
                </div>

                <div id="EmptyPanel" data-bind="visible: isShowEmpty" class="sub-dashboard-content">
                    <div class="empty-panel">
                        <div class="no-project-icon"></div>
                        <p>Select project to see project details or select task to see task request details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Project detail-->
<script type="text/x-jquery-tmpl" id="projectDetailsTemplate">
    <div class="row-data align-items-center project-title-panel">
        <span class="icon-space-wrapper">
            <i class="nav-link-icon fa fa-calendar-alt"> </i>
        </span>
        <div class="project-title" data-bind="text: Name"></div>
    </div>
    <div class="row-data bd-highligh">
        <i><p data-bind="text: Description"></p></i>
    </div>
    <div class="row-data project-time-panel">
        <div class="d-flex flex-column time-group-controls">
            <div class="d-flex flex-row align-items-center">
                <span class="icon-space-wrapper">
                    <i class="fa fa-calendar-alt"></i>
                </span>
                <span class="time-group-subject">Start Date</span>
            </div>
            <span data-bind="text: StartDate"></span>
        </div>
        <div class="d-flex flex-column time-group-controls">
            <div class="d-flex flex-row align-items-center">
                <span class="icon-space-wrapper"><i class="fa fa-calendar-alt"></i></span>
                <span class="time-group-subject">End Date</span>
            </div>
            <span data-bind="text: EndDate"></span>
        </div>
    </div>
    <div class="row-data user-group-controls">
        <label>Leaders</label>
        <div data-bind="foreach: Leaders" class="d-flex flex-row align-items-center">
            <div class="chip">
                <img data-bind="attr: { src: Photo, alt: Name, title: Name }">
                <!--ko text: Name--><!--/ko-->
            </div>
        </div>
    </div>
    <div class="row-data user-group-controls">
        <label>Developers</label>
        <div data-bind="foreach: Developers" class="d-flex flex-row align-items-center">
            <div class="chip">
                <img data-bind="attr: { src: Photo, alt: Name, title: Name }">
                <!--ko text: Name--><!--/ko-->
            </div>
        </div>
    </div>
</script>

<!--Task detail-->
<script type="text/x-jquery-tmpl" id="taskDetailsTemplate">
    <div class="row-data align-items-center project-title-panel">
        <span class="icon-space-wrapper">
            <i class="nav-link-icon fas fa-check-square"> </i>
        </span>
        <div class="project-title" data-bind="text: Name"></div>
    </div>
    <div class="row-data bd-highligh">
        <p class=""><i data-bind="text: Description"></i></p>
    </div>
    <div class="row-data project-time-panel">
        <div class="d-flex flex-column time-group-controls">
            <div class="d-flex flex-row align-items-center">
                <span class="icon-space-wrapper">
                    <i class="fa fa-calendar-alt"></i>
                </span>
                <span class="time-group-subject">Start Date</span>
            </div>
            <span data-bind="text: StartDate"></span>
        </div>
        <div class="d-flex flex-column time-group-controls">
            <div class="d-flex flex-row align-items-center">
                <span class="icon-space-wrapper"><i class="fa fa-calendar-alt"></i></span>
                <span class="time-group-subject">End Date</span>
            </div>
            <span data-bind="text: EndDate"></span>
        </div>
        <div class="d-flex flex-column align-items-center time-group-controls">
            <div class="d-flex flex-row align-items-center">
                <span class="icon-space-wrapper"><i class="fa fa-calendar-alt"></i></span>
                <span class="time-group-subject">Estimate Time(hours)</span>
            </div>
            <span data-bind="text: EstimatedTime"></span>
        </div>
    </div>
    <div class="form-group row" data-bind="if: Assignee != null">
        <label class="font-weight-bold col-sm-2 col-form-label">Task Request Assignee</label>
        <div class="col-sm-10 d-flex flex-row align-items-center" data-bind="with: Assignee">
            <div class="chip">
                <img data-bind="attr: { src: Photo, alt: Name, title: Name }">
                <!--ko text: Name--><!--/ko-->
            </div>
        </div>
    </div>
</script>

<!-- Add/Edit Project -->
<div id="projectEditor" class="modal modal-fixed-footer">
    <div class="modal-header" data-bind="with: addEditProjectModel">
        <span data-bind="visible:IsEdit">Update Project</span>
        <span data-bind="hidden:IsEdit">Add New Project</span>
    </div>
    <div class="modal-content">
        <div data-bind="template: {name:'addUpdateProjectTemplate', data: addEditProjectModel}"></div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn-small btn-edit-task-request d-flex"
                style="margin-left: 5px"
                data-bind="click: onCancelSaveProject">
            <i class="material-icons">cancel</i>
            <span class="ml-1">Cancel</span>
        </button>
        <button class="waves-effect waves-light btn-small btn-delete-task-request blue d-flex ml-2"
                data-bind="click: onSaveProject">
            <i class="material-icons">save</i>
            <span class="ml-1">Save</span>
        </button>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="addUpdateProjectTemplate">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" data-bind="value: Name" required />
            <label class="active">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea" data-bind="value: Description"></textarea>
            <label class="active">Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="dpStartDate" class="datepicker" required data-bind="value: StartDate" />
            <label class="active">Start Date</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="dpEndDate" class="datepicker" required data-bind="value: EndDate" />
            <label class="active">End Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select data-bind="options: $root.availableDevelopers, selectedOptions: Leaders, optionsText: 'UserName', optionsValue: 'UserId'" size="5" multiple="true"></select>
            <label class="active">Leaders</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select data-bind="options: $root.availableDevelopers, selectedOptions: Developers, optionsText: 'UserName', optionsValue: 'UserId'" size="5" multiple="true"></select>
            <label class="active">Developer</label>
        </div>
    </div>
</script>

<!-- Add/Update Task -->
<div id="taskEditor" class="modal modal-fixed-footer">
    <div class="modal-header" data-bind="with: addEditProjectModel">
        <span data-bind="visible:IsEdit">Update Task</span>
        <span data-bind="hidden:IsEdit">Add New Task</span>
    </div>
    <div class="modal-content">
        <div data-bind="template: {name:'addUpdateTaskTemplate', data: addEditProjectModel}"></div>
    </div>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn-small btn-edit-task-request d-flex"
                style="margin-left: 5px"
                data-bind="click: onCancelSaveTask">
            <i class="material-icons">cancel</i>
            <span class="ml-1">Cancel</span>
        </button>
        <button class="waves-effect waves-light btn-small btn-delete-task-request blue d-flex ml-2"
                data-bind="click: onSaveTask">
            <i class="material-icons">save</i>
            <span class="ml-1">Save</span>
        </button>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="addUpdateTaskTemplate">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" data-bind="value: Name" required />
            <label class="active">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea" data-bind="value: Description"></textarea>
            <label class="active">Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="dpStartDate" class="datepicker" required data-bind="value: StartDate" />
            <label class="active">Start Date</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="dpEndDate" class="datepicker" required data-bind="value: EndDate" />
            <label class="active">End Date</label>
        </div>
    </div>
</script>