@model MusicStore.BussinessEntity.ProjectEntity
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}

<div class="card-body">
    <h5 class="card-title">Update Project</h5>
    <div style="display: flex; justify-content: center;">
        @using (Html.BeginForm("Update", "Project", FormMethod.Post, new { @class = "needs-validation col-9" }))
        {
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Name</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "", value = "Name" } })
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom03">Description</label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { type = "textarea", @class = "form-control", value = "Name" } })
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom04">Start Date</label>
                    @Html.TextBoxFor(model => model.StartDate, new { type = "date", @class = "form-control", @Value = Model.StartDate.ToString("yyyy-MM-dd"), required = "" })
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom05">End Date</label>
                    @Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control", @Value = Model.StartDate.ToString("yyyy-MM-dd"), required = "" })
                </div>
            </div>
            <button style="float: right" class="btn btn-primary" type="submit">Save</button>
        }
    </div>
</div>

