.dashboard-content-panel {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0; }
  .dashboard-content-panel .card-header {
    font-size: 1.2rem; }
  .dashboard-content-panel .left-panel {
    font-size: 15px;
    display: flex; }
    .dashboard-content-panel .left-panel .btn-project-item {
      line-height: 2.4rem;
      height: 2.4rem;
      padding: 0 1rem 0 12px;
      position: relative;
      border-radius: .25rem;
      color: #343a40;
      white-space: nowrap;
      transition: all .2s;
      margin: .1rem 0; }
      .dashboard-content-panel .left-panel .btn-project-item:hover {
        background: #e0f3ff;
        text-decoration: none;
        cursor: pointer; }
    .dashboard-content-panel .left-panel .btn-toogle-panel {
      flex: 0 0 30px;
      font-size: 30px; }
      .dashboard-content-panel .left-panel .btn-toogle-panel.collapsed .pe-7s-angle-up {
        display: none; }
      .dashboard-content-panel .left-panel .btn-toogle-panel.collapsed .pe-7s-angle-down {
        display: inline-block; }
      .dashboard-content-panel .left-panel .btn-toogle-panel .pe-7s-angle-up {
        display: inline-block; }
      .dashboard-content-panel .left-panel .btn-toogle-panel .pe-7s-angle-down {
        display: none; }
    .dashboard-content-panel .left-panel .project-tree li .tree-node-container {
      display: flex; }
    .dashboard-content-panel .left-panel .project-tree li a {
      cursor: pointer; }
  .dashboard-content-panel .icon-space-wrapper {
    margin-right: 10px; }
  .dashboard-content-panel .time-group-controls {
    flex: 1 1 auto; }
  .dashboard-content-panel .time-group-subject {
    font-weight: bold; }
  .dashboard-content-panel .user-group-controls label {
    font-weight: bold;
    flex: 0 0 100px; }
  .dashboard-content-panel .project-member-wrapper {
    flex: 0 0 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .dashboard-content-panel .project-title-panel {
    font-size: 30px; }
  .dashboard-content-panel .card-body .row-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0; }
