
@using MusicStore.BussinessEntity
@model IList<CollectionEntity>

<div class="item-list-wrapper-listalbum albums">
    @foreach (var item in Model)
    {
        <div class="col-md-3 content-grid album-item">
            <a class="play-icon popup-with-zoom-anim" href="/WebCollection/Details?id=@item.Id"><img src="@item.Thumbnail" title="@item.Title"><div class="glyphicon glyphicon-play-circle media-play-icon"></div></a>
            @*<a class="button play-icon popup-with-zoom-anim"  href="@item.Url">Listen now</a>*@
        </div>
    }
</div>
<div class="clearfix"></div>
