@using WebAPI.Models
@model IList<AlbumSummary>

<div class="albums">
    <div class="tittle-head">
        <h3 class="tittle">@ViewData["AlbumGroupTitle"]</h3>
        <div class="clearfix"> </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 content-grid album-item">
            <a class="play-icon popup-with-zoom-anim" href="/WebAlbum/Index?id=@item.Id"><img src="@item.Thumbnail" title="@item.Title"><em></em></a>
            @*<a class="button play-icon popup-with-zoom-anim"  href="@item.Url">Listen now</a>*@
        </div>
    }

    <div class="clearfix"> </div>
</div>