html{
    font-size: 14px;
}

.dashboard-content-panel{
    display:flex;
    width:100%;
    height: 100%;
}

.vertical-nav-menu.project-tree li .tree-node-container{
    display:flex;
}

.vertical-nav-menu.project-tree li a {
}

.dashboard-content-panel .left-panel .btn-project-item {
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1rem 0 12px;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0;
}

    .dashboard-content-panel .left-panel .btn-project-item:hover {
        background: #e0f3ff;
        text-decoration: none;
        cursor:pointer;
    }

.btn-toogle-panel.collapsed .pe-7s-angle-down {
    display:none;
}

.btn-toogle-panel .pe-7s-angle-down {
    display: inline-block;
}

.btn-toogle-panel.collapsed .pe-7s-angle-up {
    display: inline-block;
}

.btn-toogle-panel .pe-7s-angle-up {
    display: none;
}

.dashboard-content-panel .left-panel{
    font-size: 14px;
}