@model WebAPI.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout .cshtml";
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row dashboard-content-panel">
            <div class="col-md-4 col-xl-4">
                <div class="card-header card-header-tab-animation">
                    <ul class="nav nav-justified">
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg8-0" class="active nav-link">Projects</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#tab-eg8-1" class="nav-link">Task Request</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-eg8-0" role="tabpanel">
                            <ul class="vertical-nav-menu">
                                @foreach (var project in Model.projectWithTasks)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon pe-7s-note2"></i>
                                            @project.Name
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            @foreach (var task in project.Tasks)
                                            {
                                                <li>
                                                    <a href="components-tabs.html">
                                                        <i class="metismenu-icon">
                                                        </i>@task.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="tab-eg8-1" role="tabpanel">
                            <ul class="vertical-nav-menu">
                                @foreach (var project in Model.projectWithRequestTasks)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="metismenu-icon pe-7s-note2"></i>
                                            @project.Name
                                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        </a>
                                        <ul>
                                            @foreach (var taskRequest in project.TaskRequests)
                                            {
                                                <li>
                                                    <a href="components-tabs.html">
                                                        <i class="metismenu-icon">
                                                        </i>@taskRequest.Description
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-8">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Clients</div>
                            <div class="widget-subheading">Total Clients Profit</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>$ 568</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
