@using WebAPI.Models
@using MusicStore.BussinessEntity
@model WebAPI.Models.GenreViewModel
@{
    ViewBag.Title = "Index";
}

@section css{
    <link href="~/Content/Common/icon-font.css" rel="stylesheet" />
    <link href="~/Content/home-page.css" rel="stylesheet" />
    <link href="~/Content/Libraries/playlist-style.css" rel="stylesheet" />
    <link href="~/Content/Common/slidebar.css" rel="stylesheet" />
    <link href="~/Content/album-detail.css" rel="stylesheet" />
    <link href="~/Content/alphabet-menubar.css" rel="stylesheet" />
    <link href="~/Content/featured-artists-list.css" rel="stylesheet" />
    <link href="~/Content/summary-list-item.css" rel="stylesheet" />
    <link href="~/Content/songplaylist.css" rel="stylesheet" />
}


@section scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/Common/scripts.js"></script>
    <script src="~/Scripts/Common/jquery.nicescroll.js"></script>
    <script src="~/Scripts/Common/jquery-ui.min.js"></script>
    <script src="~/Scripts/Common/songplaylist.js"></script>
    <script src="~/Scripts/Common/responsiveslides.min.js"></script>
    <script>
    // You can also use "$(window).load(function() {"
    $(function () {
        var currentPage = 1;
        $(".btn-getmoreitems").click(function () {
            currentPage++;
            showSpinner();
            $.ajax({
                url: "/WebGenre/GetPagingArtist?id=" + @Model.Id + "&page="+currentPage,
                type: "POST",
                success: function (response) {
                    if (response.trim() != "") {
                        $(".itemsummary-list-wrapper.artists").append(response);
                    } else {
                        $(".btn-getmoreitems").remove();
                    }
                },
                error: function (error) {

                },
                complete: function () {
                    hideSpinner();
                }
            })
        });

        });

        function showSpinner() {
            $(".btn-getmoreitems").removeClass("hide").addClass("hide");
            $(".spinner").removeClass("hide");
        }

        function hideSpinner() {
            $(".btn-getmoreitems").removeClass("hide");
            $(".spinner").removeClass("hide").addClass("hide");
        }
    </script>
}

<section>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <div id="page-wrapper">
            <div class="inner-content">
                <div class="music-left">
                    <!--albums-->
                    @Html.Partial("_ListArtistSummary", (IList<ArtistEntity>)Model.Artists, new ViewDataDictionary { { "Title", "Musicals" } })
                    <!--//End-albums-->
                </div>
                <!--//music-left-->
                <!--/music-right-->
                <div class="music-right">
                    <div id="mainwrap">
                        @Html.Partial("_MusicPlayList", (IList<MusicStore.BussinessEntity.SongEntity>)Model.Songs)
                    </div>
                    <!-- //script for play-list -->
                    <!--//video-main-->
                    <!--/app_store-->
                    <div class="apps">
                        <h3 class="hd-tittle">Music Online now available in</h3>
                        <div class="banner-button green-button">
                            <a href="#"><img src="~/content/images/2.png" alt=""></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--//app_store-->
                    <!--/start-paricing-tables-->
                </div>
                <!--//music-right-->
                <div class="clearfix"></div>
                <!-- /w3l-agile-its -->
            </div>
            <!--body wrapper start-->
        </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
        <!-- /w3l-agile -->
    </div>
    <!--body wrapper end-->
    <!-- /w3l-agile -->
    <!-- main content end-->
</section>


