@model IEnumerable<MusicStore.BussinessEntity.UserEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout .cshtml";
}

<div class="col-md-12">
    <div class="main-card mb-3 card">
        <div class="card-header">
            Projects
        </div>
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Role</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">@user.Name</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.RoleId</td>
                            <td class="text-center">
                                <div class="badge badge-pill badge-info">Active</div>
                            </td>
                            <td class="text-center">
                                <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">
                                    @Html.ActionLink("Delete", "DeleteUser", new { id = user.UserId }, new { @Style = "color: #fff; text-decoration: none !important;" })
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<div class="d-block text-center card-footer">
                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                <button class="btn-wide btn btn-success">Save</button>
            </div>*@
    </div>
</div>

