
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/build/taskRequest.js"></script>
}
@section css{
    <link href="~/Content/TaskRequest/scss/main.css" rel="stylesheet" />
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row task-request-management-wrapper">
            <div class="col-md-4 col-xl-4 card left-panel">
                <div class="card-header card-header-tab-animation">
                    Projects
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class=" project-task-panel">
                            @foreach (var project in Model.projectWithTasks)
                            {
                                <div class="d-flex flex-row align-items-center" height="30px">
                                    <a class="btn-toogle-panel collapsed" data-toggle="collapse" href="#project@(project.Id)" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                        <i class="metismenu-state-icon pe-7s-angle-up caret-left"></i>
                                    </a>
                                    <i class="metismenu-icon pe-7s-note2"></i>
                                    <a class="btn-project-item" data-id="@project.Id">@project.Name</a>
                                </div>
                                <div class="collapse" id="project@(project.Id)">
                                    <ul class="vertical-nav-menu project-tree">
                                        @foreach (var task in project.Tasks)
                                        {
                                            <li>
                                                <a data-id="@task.Id" class="btn-task-item">
                                                    <i class="metismenu-icon">
                                                    </i>@task.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-8 right-panel">
                <div data-bind="if: isShowContentPanel">
                    <div class="task-details-container" data-bind="template: {name:'taskDetailsTemplate', data: currentTask}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Task Request Dialog -->
<div id="addTaskRequestDialog" class="modal modal-fixed-footer">
    <div class="modal-header">
        Add Task Request
    </div>
    <div class="modal-content" data-bind="template: {name: 'addTaskRequestDialogTemplate', data: addEditTaskRequestModel}">
        
    </div>
    <div class="modal-footer">
        <a id="btnOK" class="waves-effect waves-orange btn-flat btn" data-bind="click: $root.okBtnDialogClick">OK</a>
        <a id="btnCancel" class="modal-close waves-effect btn-flat">Cancel</a>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="addTaskRequestDialogTemplate">
        <div class="form-group">
            <div class="input-field col s12">
                <textarea id="description_addTaskRequest" class="materialize-textarea" data-bind="value: Description"></textarea>
                <label for="description_addTaskRequest">Description</label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="0">New</option>
                    <option value="1">Active</option>
                </select>
                <label>Status</label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col s12">
                <select data-bind="options: $root.availableDevelopers, selectedOptions: Developers, optionsText: 'Name'" size="5" multiple="true"></select>
                <label>Developers</label>
            </div>
        </div>
</script>

<script type="text/x-jquery-tmpl" id="taskDetailsTemplate">
    <div class="main-card card">
        <div class="card-header">
            <span class="title">Task Details</span>
            <a class="waves-effect waves-light btn-small btn-add-task-request" 
               data-bind="enable: $data.Assignee != null,click:$root.addTaskRequestBtnClick, clickBubble: false">
            <i class="material-icons left">add</i>Add Request</a>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="row-data align-items-center project-title-panel">
                <span class="icon-space-wrapper">
                    <i class="nav-link-icon fa fa-suitcase"> </i>
                </span>
                <div class="project-title" data-bind="text: Name"></div>
            </div>
            <div class="row-data bd-highligh">
                <i><p data-bind="text: Description"></p></i>
            </div>
            <div class="row-data project-time-panel">
                <div class="d-flex flex-column time-group-controls">
                    <div class="d-flex flex-row align-items-center">
                        <span class="icon-space-wrapper">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                        <span class="time-group-subject">Start Date</span>
                    </div>
                    <span data-bind="text: StartDate"></span>
                </div>
                <div class="d-flex flex-column time-group-controls">
                    <div class="d-flex flex-row align-items-center">
                        <span class="icon-space-wrapper"><i class="fa fa-calendar-alt"></i></span>
                        <span class="time-group-subject">End Date</span>
                    </div>
                    <span data-bind="text: EndDate"></span>
                </div>
                <div class="d-flex flex-column time-group-controls">
                    <div class="d-flex flex-row align-items-center">
                        <span class="icon-space-wrapper"><i class="fa fa-calendar-alt"></i></span>
                        <span class="time-group-subject">Estimate Time(hours)</span>
                    </div>
                    <span data-bind="text: EstimatedTime"></span>
                </div>
            </div>
            <div class="row-data user-group-controls">
                <label>Assignee</label>
                <div data-bind="visible: Assignee != null, with: Assignee" class="d-flex flex-row align-items-center">
                    <div class="project-member-wrapper">
                        <span><i class="fas fa-user-tie"></i></span>
                        <div data-bind="text: Name"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

