@using WebAPI.Models
@using MusicStore.BussinessEntity
@model WebAPI.Models.CollectionViewModel
@{
    ViewBag.Title = "Index";
}

@section css{
    <link href="~/Content/Common/icon-font.css" rel="stylesheet" />
    <link href="~/Content/home-page.css" rel="stylesheet" />
    <link href="~/Content/Libraries/playlist-style.css" rel="stylesheet" />
    <link href="~/Content/Common/slidebar.css" rel="stylesheet" />
    <link href="~/Content/album-detail.css" rel="stylesheet" />
    <link href="~/Content/alphabet-menubar.css" rel="stylesheet" />
    <link href="~/Content/featured-artists-list.css" rel="stylesheet" />
    <link href="~/Content/summary-list-item.css" rel="stylesheet" />
}


@section scripts{
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/Common/scripts.js"></script>

    <script src="~/Scripts/Libraries/playlist.js"></script>
    <script src="~/Scripts/Common/responsiveslides.min.js"></script>
    <script>
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
        $("#listCharacterFilter li").removeClass("active");
        $("#listCharacterFilter li.character-item[data-character='@ViewBag.SelectedCharacter']").addClass("active");

        var currentPage = 1;
        var selectedCharacter = "@ViewBag.SelectedCharacter";

        $("#getMoreCollectionsBtn").click(function () {
            currentPage++;
            showSpinner();
            $.ajax({
                url: "/WebCollection/GetPagingCollectionByCharacter?character=" + selectedCharacter + "&page="+currentPage,
                type: "POST",
                success: function (response) {
                    if (response.trim() != "") {
                        $(".itemsummary-list-wrapper.collections").append(response);
                    } else {
                        $("#getMoreCollectionsBtn").remove();
                    }
                },
                error: function (error) {

                },
                complete: function () {
                    hideSpinner();
                }
            })
        });

        });

        function showSpinner() {
            $(".btn-getmoreitems").removeClass("hide").addClass("hide");
            $(".spinner").removeClass("hide");
        }

        function hideSpinner() {
            $(".btn-getmoreitems").removeClass("hide");
            $(".spinner").removeClass("hide").addClass("hide");
        }
    </script>
}

<section>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <div id="page-wrapper">
            <div class="inner-content">
                <div class="music-left">
                    <!--banner-section-->
                    <div id="listCharacterFilter">
                        <ul class="alphabet-menubar">
                            <li class="character-item active" data-character="a"><a href="/WebCollection?character=a">A</a></li>
                            <li class="character-item" data-character="b"><a href="/WebCollection?character=b">B</a></li>
                            <li class="character-item" data-character="c"><a href="/WebCollection?character=c">C</a></li>
                            <li class="character-item" data-character="d"><a href="/WebCollection?character=d">D</a></li>
                            <li class="character-item" data-character="e"><a href="/WebCollection?character=e">E</a></li>
                            <li class="character-item" data-character="f"><a href="/WebCollection?character=f">F</a></li>
                            <li class="character-item" data-character="g"><a href="/WebCollection?character=g">G</a></li>
                            <li class="character-item" data-character="h"><a href="/WebCollection?character=h">H</a></li>
                            <li class="character-item" data-character="i"><a href="/WebCollection?character=i">I</a></li>
                            <li class="character-item" data-character="j"><a href="/WebCollection?character=j">J</a></li>
                            <li class="character-item" data-character="k"><a href="/WebCollection?character=k">K</a></li>
                            <li class="character-item" data-character="l"><a href="/WebCollection?character=l">L</a></li>
                            <li class="character-item" data-character="m"><a href="/WebCollection?character=m">M</a></li>
                            <li class="character-item" data-character="n"><a href="/WebCollection?character=n">N</a></li>
                            <li class="character-item" data-character="o"><a href="/WebCollection?character=o">O</a></li>
                            <li class="character-item" data-character="p"><a href="/WebCollection?character=p">P</a></li>
                            <li class="character-item" data-character="q"><a href="/WebCollection?character=q">Q</a></li>
                            <li class="character-item" data-character="r"><a href="/WebCollection?character=r">R</a></li>
                            <li class="character-item" data-character="s"><a href="/WebCollection?character=s">S</a></li>
                            <li class="character-item" data-character="t"><a href="/WebCollection?character=t">T</a></li>
                            <li class="character-item" data-character="u"><a href="/WebCollection?character=u">U</a></li>
                            <li class="character-item" data-character="v"><a href="/WebCollection?character=v">V</a></li>
                            <li class="character-item" data-character="w"><a href="/WebCollection?character=w">W</a></li>
                            <li class="character-item" data-character="x"><a href="/WebCollection?character=x">X</a></li>
                            <li class="character-item" data-character="y"><a href="/WebCollection?character=y">Y</a></li>
                            <li class="character-item" data-character="z"><a href="/WebCollection?character=z">Z</a></li>
                            <li class="character-item" data-character="0"><a href="/WebCollection?character=0">0-9</a></li>
                        </ul>
                    </div>
                    <!--//End-banner-->
                    <!--albums-->
                    @Html.Partial("_ListCollectionSummary", (IList<CollectionEntity>)Model.Collections, new ViewDataDictionary { { "AlbumGroupTitle", "Album of the same artist" } })
                    <!--//End-albums-->
                </div>
                <!--//music-left-->
                <!--/music-right-->
                <div class="music-right">
                    <div id="mainwrap">
                        @Html.Partial("_ListArtists", (IList<ArtistEntity>)Model.TopArtists, new ViewDataDictionary { { "PartialViewTitle", "Top Artists" } })
                    </div>
                    <!-- //script for play-list -->
                    <!--//video-main-->
                    <!--/app_store-->
                    <div class="apps">
                        <h3 class="hd-tittle">Music Online now available in</h3>
                        <div class="banner-button green-button">
                            <a href="#"><img src="~/content/images/2.png" alt=""></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--//app_store-->
                    <!--/start-paricing-tables-->
                </div>
                <!--//music-right-->
                <div class="clearfix"></div>
                <!-- /w3l-agile-its -->
            </div>
            <!--body wrapper start-->
        </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
        <!-- /w3l-agile -->
    </div>
    <!--body wrapper end-->
    <!-- /w3l-agile -->
    <!-- main content end-->
</section>


